Title of the Project : Movie Recommendataion System

Objective : Recommender System is a system that seeks to predict or filter the preferences according to the user's choices. Recommender systems are utilised in a waythat they can recommend items or services that the user may like or find useful. These systems are widely used in e-commerce websites, streaming services, social media platforms, and more to enhance the user experience and increase customer satisfaction. By analyzing user behavior and feedback, recommender systems can provide personalized recommendations that are tailored to each individual user's tastes and preferences.

Collaborative filtering is a popular technique used in movie recommendation systems that analyzes user behaviors, preferences, and ratings to recommend movies based on similarities between users with similar tastes. There are two main types: user-based, which compares user preferences, and item-based, which focuses on similarities between movies. This method provides personalized recommendations that match the user's individual tastes and preferences

Content-based filtering is a recommendation system technique that suggests items to users based on the content of items they have interacted with in the past. It analyzes the features and attributes of items to make recommendations, without considering external factors such as ratings or reviews. This method is especially useful when there is limited data on user preferences or when users have niche interests.

Data Source

https://github.com/ffatiimaa/movie_recommendation/raw/main/Movies%20Recommendation.csv

Import Library

In [128]:
import pandas as pd

In [129]:
import numpy as np

Import Data

In [130]:
df = pd.read_csv("D:\coding\ML\YBI\MachineLearning\Movies Recommendation.csv")

Descrbe Data

In [131]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [132]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [103]:
df.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

Data Preprocessing

In [134]:
features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [135]:
features.shape

(4760, 5)

Feature variable

In [136]:
x = features['Movie_Genre']+' '+features['Movie_Keywords']+' '+features['Movie_Tagline']+' '+features['Movie_Cast']+' '+features['Movie_Director']

In [137]:
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Li...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                           Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

Modeling

#Converting text to tokens

In [138]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [139]:
tfidf = TfidfVectorizer()

In [140]:
x = tfidf.fit_transform(x)

In [141]:
x.shape

(4760, 17258)

In [142]:
print(x)

  (0, 3583)	0.06486754376295062
  (0, 3240)	0.04527089872278055
  (0, 7213)	0.25146675849405775
  (0, 10898)	0.17625708810661284
  (0, 17052)	0.26079573581490934
  (0, 5059)	0.29553419178998613
  (0, 16862)	0.12768803549311025
  (0, 1595)	0.15687561633854538
  (0, 13052)	0.1465525095337543
  (0, 15708)	0.17654247479915475
  (0, 11362)	0.18801785343006192
  (0, 6463)	0.18801785343006192
  (0, 5662)	0.1465525095337543
  (0, 13467)	0.19712637387361423
  (0, 12731)	0.19712637387361423
  (0, 614)	0.07642616241686973
  (0, 11244)	0.08262965296941757
  (0, 9206)	0.15186283580984414
  (0, 1495)	0.19712637387361423
  (0, 7454)	0.14745635785412262
  (0, 7071)	0.19822417598406614
  (0, 5499)	0.11454057510303811
  (0, 3878)	0.11998399582562203
  (0, 11242)	0.07277788238484746
  (0, 15219)	0.09800472886453934
  :	:
  (4757, 3485)	0.199161573117024
  (4757, 1184)	0.18890726729447022
  (4757, 14568)	0.24255077606762876
  (4757, 15508)	0.24255077606762876
  (4757, 5802)	0.24255077606762876
  (4757, 819)	0.27474840155297187
  (4757, 14195)	0.28805858134028367
  (4757, 2227)	0.28805858134028367
  (4757, 7691)	0.28805858134028367
  (4757, 1932)	0.28805858134028367
  (4758, 5238)	1.0
  (4759, 10666)	0.15888268987343043
  (4759, 1490)	0.21197258705292082
  (4759, 15431)	0.19628653185946862
  (4759, 5690)	0.19534291014627303
  (4759, 14051)	0.20084315377640435
  (4759, 4358)	0.18306542312175342
  (4759, 10761)	0.3126617295732147
  (4759, 7130)	0.26419662449963793
  (4759, 3058)	0.2812896191863103
  (4759, 14062)	0.3237911628497312
  (4759, 8902)	0.3040290704566037
  (4759, 205)	0.3237911628497312
  (4759, 11708)	0.33947721804318337
  (4759, 11264)	0.33947721804318337

Getting similarity score using cosine similarity

cosine_similarity computes the L2-normalized dot product of vectors. Euclidean (L2) normalization projects the vectors onto the unit sphere, and their dot product is then the cosine of the angle betweem the points denoted by vectors

In [143]:
from sklearn.metrics.pairwise import cosine_similarity

In [144]:
Similarity_score = cosine_similarity(x)

In [145]:
Similarity_score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

Model Evaluation

In [146]:
#Taking the fav movie name of user as input
fav_movie_name = input("Enter your favorite movie name : ")

Enter your favorite movie name :  Batman

In [147]:
All_movies = df['Movie_Title'].tolist()

In [148]:
import difflib

In [149]:
Movie_Recommendation = difflib.get_close_matches(fav_movie_name,All_movies)
print(Movie_Recommendation)

['Batman', 'Batman', 'Catwoman']

Prediction

In [150]:
#getting close match
Close_match = Movie_Recommendation[0]
print(Close_match)

Batman

Getting index of close movie match

In [151]:
index = df[df.Movie_Title == Close_match]['Movie_ID'].values[0]
print(index)

123

In [152]:
#getting list of similar movies
Recommendation_Score = list(enumerate(Similarity_score[index]))

In [153]:
len(Recommendation_Score)

4760

Getting all movies sorted based on Recommendations score

In [154]:
similar_movies = sorted(Recommendation_Score,key = lambda x:x[1], reverse = True)

In [155]:
#pirnting the name of movies based on index

In [156]:
print("Top 20 movie Suggestions : ")
i = 1
for movie in similar_movies:
    ind = movie[0]
    title = df.iloc[ind]['Movie_Title']
    if i <= 20:
        print(f"{i}. {title}")
        i += 1

Top 20 movie Suggestions :
1. Batman Begins
2. The Dark Knight Rises
3. The Dark Knight
4. The Prestige
5. Batman Returns
6. Batman & Robin
7. Batman
8. Superman
9. Kick-Ass 2
10. Kick-Ass
11. Quest for Camelot
12. Kung Fu Panda 2
13. TMNT
14. GoldenEye
15. Watchmen
16. Suicide Squad
17. Mad Money
18. Interstellar
19. Harry Brown
20. Superman II

Explanation

A movie recommendation system using cosine similarity model works by calculating the similarity between different movies based on their features or attributes. The system uses a mathematical technique called cosine similarity to measure how closely related two movies are to each other.

Here's how it works:

The system first represents movies as vectors in a multidimensional space, where each dimension corresponds to a specific feature or attribute of the movie (e.g., genre, actors, director, etc.).

The system then calculates the cosine similarity between each pair of movies by measuring the cosine of the angle between the two movie vectors. A higher cosine similarity score indicates that the two movies are more similar to each other.

Based on the cosine similarity scores, the system can recommend movies that are most similar to a given movie. For example, if a user likes a particular movie, the system can recommend other movies that have a high cosine similarity score with that movie.

The system can also recommend movies based on user preferences and viewing history. By analyzing the similarities between the movies that a user has watched and liked, the system can suggest other movies that are likely to be of interest to the user.

Overall, a movie recommendation system using cosine similarity model allows users to discover new movies that are similar to the ones they enjoy, making it easier to find and watch movies that align with their tastes and preferences

In [96]:
# final recommendation system 
Movie_Name = input("Enter you favourite movie name : ")
All_Movies = df['Movie_Title'].tolist()
Close_Match = difflib.get_close_matches(Movie_Name,All_Movies)[0]
index = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
Recommendation_Score = list(enumerate(Similarity_score[index]))
Similar_Movies = sorted(Recommendation_Score,key = lambda x:x[1],reverse = True)
print("Top 20 movies suggestions : ")
i=1
for movie in Similar_Movies:
    ind = movie[0]
    title = df.iloc[ind]['Movie_Title']
    if i <= 20:
        print(f"{i}. {title}")
        i += 1

Enter you favourite movie name :  Spider Man

Top 20 movies suggestions :
1. Spider-Man 2
2. Spider-Man 3
3. Spider-Man
4. 30 Minutes or Less
5. The One
6. The Amazing Spider-Man 2
7. Oz: The Great and Powerful
8. Brothers
9. Dudley Do-Right
10. Avengers: Age of Ultron
11. Deadpool
12. The Good German
13. Abduction
14. Sexy Beast
15. The Hoax
16. Thor
17. Midnight Special
18. Frida
19. X-Men: Days of Future Past
20. Crazy/Beautiful